- var num = 2;
.product
  ul(class="product__list-#{num}")
    li(class="product__item-#{num}") 
      //- ===== 
      ul.inner__product_list
        li.inner__product_item.inner__product_img
          //- =====  Photo block
          .img__big
            img(src="/img/shop-assets/1.png", alt="")
          //- =====  маленькие картинки продукции
          ul.img__small_list
            li.img__small_item
              img(src="/img/shop-assets/1_1.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_2.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_3.png", alt="")
          //- ===== Артикль продукта
          div(class="artical" + ( (num == 1) ? '.displayNone' : '' ))
            strong Артикул
            span 283135
        li.inner__product_item.inner__product_about
          
          .about_title Samsung GT-I9301I GALAXY S 3
          
          //- =====  Описание продукта #1 of 3
          ul(class="description__list" + ( (num == 1) ? ' displayNone' : '' ) )
            li.description__item
              p Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) 
                | вы открываете мир ярких цифровых возможностей. 
                | Этот многофункциональный смартфон уже содержит 
                | набор бесплатных сервисов Microsoft...

          //- =====  Описание продукта #2 of 3
          ul(class="description__list " + ( (num == 2) ? ' displayNone' : '' ) ).clearfix
            li.description__item.grey
              strong Тип SIM-карты
              span Micro-SIM
            li.description__item.white
              strong Количество SIM-карт
              span 2
            li.description__item.grey
              strong Цвет 
              span Черный
            li.description__item.white
              strong ОC
              span Windows Phone
            li.description__item.grey
              strong Связь 3G
              span Есть
            li.description__item.white
              strong 4G (LTE) 
              span Нет
            li.description__item.grey
              strong GPS-модуль
              span Есть
                
          //- Райтинг
          .rating.clearfix
            .rating__stars
              - var p = 5;
              - for(var i = 1; i <= 5; i++)
                input(type="radio" name="ration" value="#{p}" id="ration#{p}")
                label(for="ration#{p}") ☆
                - p--;
            .rating__result 0

        //- цена тавара и кнопка заказа
        li.inner__product_item.inner__product_price
          .price.clearfix
            .cost 11 290 &#8381;
            .col-avelibility
              .status В наличии
            button В корзину

    //-------------------------------------------

    li(class="product__item-#{num}") 
      //- ===== 
      ul.inner__product_list
        li.inner__product_item.inner__product_img
          //- =====  Photo block
          .img__big
            img(src="/img/shop-assets/1.png", alt="")
          //- =====  маленькие картинки продукции
          ul.img__small_list
            li.img__small_item
              img(src="/img/shop-assets/1_1.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_2.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_3.png", alt="")
          //- ===== Артикль продукта
          div(class="artical" + ( (num == 1) ? '.displayNone' : '' ))
            strong Артикул
            span 283135
        li.inner__product_item.inner__product_about
          
          .about_title Samsung GT-I9301I GALAXY S 3
          
          //- =====  Описание продукта #1 of 3
          ul(class="description__list" + ( (num == 1) ? ' displayNone' : '' ) )
            li.description__item
              p Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) 
                | вы открываете мир ярких цифровых возможностей. 
                | Этот многофункциональный смартфон уже содержит 
                | набор бесплатных сервисов Microsoft...

          //- =====  Описание продукта #2 of 3
          ul(class="description__list " + ( (num == 2) ? ' displayNone' : '' ) ).clearfix
            li.description__item.grey
              strong Тип SIM-карты
              span Micro-SIM
            li.description__item.white
              strong Количество SIM-карт
              span 2
            li.description__item.grey
              strong Цвет 
              span Черный
            li.description__item.white
              strong ОC
              span Windows Phone
            li.description__item.grey
              strong Связь 3G
              span Есть
            li.description__item.white
              strong 4G (LTE) 
              span Нет
            li.description__item.grey
              strong GPS-модуль
              span Есть
                
          //- Райтинг
          .rating.clearfix
            .rating__stars
              - var p = 5;
              - for(var i = 1; i <= 5; i++)
                input(type="radio" name="ration" value="#{p}" id="ration#{p}")
                label(for="ration#{p}") ☆
                - p--;
            .rating__result 0

        //- цена тавара и кнопка заказа
        li.inner__product_item.inner__product_price
          .price.clearfix
            .cost 11 290 &#8381;
            .col-avelibility
              .status В наличии
            button В корзину

    //-------------------------------------------

    li(class="product__item-#{num}") 
      //- ===== 
      ul.inner__product_list
        li.inner__product_item.inner__product_img
          //- =====  Photo block
          .img__big
            img(src="/img/shop-assets/1.png", alt="")
          //- =====  маленькие картинки продукции
          ul.img__small_list
            li.img__small_item
              img(src="/img/shop-assets/1_1.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_2.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_3.png", alt="")
          //- ===== Артикль продукта
          div(class="artical" + ( (num == 1) ? '.displayNone' : '' ))
            strong Артикул
            span 283135
        li.inner__product_item.inner__product_about
          
          .about_title Samsung GT-I9301I GALAXY S 3
          
          //- =====  Описание продукта #1 of 3
          ul(class="description__list" + ( (num == 1) ? ' displayNone' : '' ) )
            li.description__item
              p Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) 
                | вы открываете мир ярких цифровых возможностей. 
                | Этот многофункциональный смартфон уже содержит 
                | набор бесплатных сервисов Microsoft...

          //- =====  Описание продукта #2 of 3
          ul(class="description__list " + ( (num == 2) ? ' displayNone' : '' ) ).clearfix
            li.description__item.grey
              strong Тип SIM-карты
              span Micro-SIM
            li.description__item.white
              strong Количество SIM-карт
              span 2
            li.description__item.grey
              strong Цвет 
              span Черный
            li.description__item.white
              strong ОC
              span Windows Phone
            li.description__item.grey
              strong Связь 3G
              span Есть
            li.description__item.white
              strong 4G (LTE) 
              span Нет
            li.description__item.grey
              strong GPS-модуль
              span Есть
                
          //- Райтинг
          .rating.clearfix
            .rating__stars
              - var p = 5;
              - for(var i = 1; i <= 5; i++)
                input(type="radio" name="ration" value="#{p}" id="ration#{p}")
                label(for="ration#{p}") ☆
                - p--;
            .rating__result 0

        //- цена тавара и кнопка заказа
        li.inner__product_item.inner__product_price
          .price.clearfix
            .cost 11 290 &#8381;
            .col-avelibility
              .status В наличии
            button В корзину

    //-------------------------------------------

    li(class="product__item-#{num}") 
      //- ===== 
      ul.inner__product_list
        li.inner__product_item.inner__product_img
          //- =====  Photo block
          .img__big
            img(src="/img/shop-assets/1.png", alt="")
          //- =====  маленькие картинки продукции
          ul.img__small_list
            li.img__small_item
              img(src="/img/shop-assets/1_1.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_2.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_3.png", alt="")
          //- ===== Артикль продукта
          div(class="artical" + ( (num == 1) ? '.displayNone' : '' ))
            strong Артикул
            span 283135
        li.inner__product_item.inner__product_about
          
          .about_title Samsung GT-I9301I GALAXY S 3
          
          //- =====  Описание продукта #1 of 3
          ul(class="description__list" + ( (num == 1) ? ' displayNone' : '' ) )
            li.description__item
              p Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) 
                | вы открываете мир ярких цифровых возможностей. 
                | Этот многофункциональный смартфон уже содержит 
                | набор бесплатных сервисов Microsoft...

          //- =====  Описание продукта #2 of 3
          ul(class="description__list " + ( (num == 2) ? ' displayNone' : '' ) ).clearfix
            li.description__item.grey
              strong Тип SIM-карты
              span Micro-SIM
            li.description__item.white
              strong Количество SIM-карт
              span 2
            li.description__item.grey
              strong Цвет 
              span Черный
            li.description__item.white
              strong ОC
              span Windows Phone
            li.description__item.grey
              strong Связь 3G
              span Есть
            li.description__item.white
              strong 4G (LTE) 
              span Нет
            li.description__item.grey
              strong GPS-модуль
              span Есть
                
          //- Райтинг
          .rating.clearfix
            .rating__stars
              - var p = 5;
              - for(var i = 1; i <= 5; i++)
                input(type="radio" name="ration" value="#{p}" id="ration#{p}")
                label(for="ration#{p}") ☆
                - p--;
            .rating__result 0

        //- цена тавара и кнопка заказа
        li.inner__product_item.inner__product_price
          .price.clearfix
            .cost 11 290 &#8381;
            .col-avelibility
              .status В наличии
            button В корзину

    //-------------------------------------------

    li(class="product__item-#{num}") 
      //- ===== 
      ul.inner__product_list
        li.inner__product_item.inner__product_img
          //- =====  Photo block
          .img__big
            img(src="/img/shop-assets/1.png", alt="")
          //- =====  маленькие картинки продукции
          ul.img__small_list
            li.img__small_item
              img(src="/img/shop-assets/1_1.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_2.png", alt="")
            li.img__small_item
              img(src="/img/shop-assets/1_3.png", alt="")
          //- ===== Артикль продукта
          div(class="artical" + ( (num == 1) ? '.displayNone' : '' ))
            strong Артикул
            span 283135
        li.inner__product_item.inner__product_about
          
          .about_title Samsung GT-I9301I GALAXY S 3
          
          //- =====  Описание продукта #1 of 3
          ul(class="description__list" + ( (num == 1) ? ' displayNone' : '' ) )
            li.description__item
              p Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) 
                | вы открываете мир ярких цифровых возможностей. 
                | Этот многофункциональный смартфон уже содержит 
                | набор бесплатных сервисов Microsoft...

          //- =====  Описание продукта #2 of 3
          ul(class="description__list " + ( (num == 2) ? ' displayNone' : '' ) ).clearfix
            li.description__item.grey
              strong Тип SIM-карты
              span Micro-SIM
            li.description__item.white
              strong Количество SIM-карт
              span 2
            li.description__item.grey
              strong Цвет 
              span Черный
            li.description__item.white
              strong ОC
              span Windows Phone
            li.description__item.grey
              strong Связь 3G
              span Есть
            li.description__item.white
              strong 4G (LTE) 
              span Нет
            li.description__item.grey
              strong GPS-модуль
              span Есть
                
          //- Райтинг
          .rating.clearfix
            .rating__stars
              - var p = 5;
              - for(var i = 1; i <= 5; i++)
                input(type="radio" name="ration" value="#{p}" id="ration#{p}")
                label(for="ration#{p}") ☆
                - p--;
            .rating__result 0

        //- цена тавара и кнопка заказа
        li.inner__product_item.inner__product_price
          .price.clearfix
            .cost 11 290 &#8381;
            .col-avelibility
              .status В наличии
            button В корзину

    //-------------------------------------------